li(class=classnames({completed: todo.completed, editing: state.editing}))
  if state.editing
    TodoTextInput(text=todo.text, editing=state.editing, onSave=handleSave)
  else
    div.view
      input.toggle(type="checkbox", checked=todo.completed, onChange=completeTodo)
      label(onDoubleClick=handleDoubleClick)=todo.text
      button.destroy(onClick=deleteTodo)
